body {
    font-family: sans-serif;
    text-align: center;
}
  
.fact-container {
    padding: 5px;
    margin-top: 20px;
    font-size: 18px;
    border: 0.5px solid gray;
    margin: 5px;
    width: 250px;
}

.deleteB {
    align-self: center;
    width: 25px;
    height: 25px;
    margin: 5px;
    border-radius: 50%;
}

.deleteB:focus{
    background-color: red;
}
